.row {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.img-box ul {
    list-style: none;
    font-size: xx-large;
    display: flex;
}

#team {
    background-color: var(--color-primary);
    padding-top: 50px;
    padding-bottom: 50px;
    /* color: #555; */
}

.profile-pic {
    margin-top: 25px;
    text-align: center;
}

.profile-pic .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img {
    filter: grayscale(1);
}

.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}

.profile-pic h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li {
    padding: 5px;
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #007bff !important;
    padding: 4px;
    border-radius: 50%;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box ul,
.img-box ul li {
    transition: 0.5s;
}

@media screen and (max-width:640px) {
    .row {
        flex-direction: column;
    }

    .img-box img {
        margin: 0 auto;
        width: 70%;
    }
}