.nav-area {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.left-nav {
    color: #161625;
}

.right-nav {
    color: white;
}

.nav-area a:hover {
    color: var(--color-secondary);
}

.nav-area img {
    width: 20px;
}