@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Old+Standard+TT&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

/* font-family: 'Amatic SC', cursive;
font-family: 'Gideon Roman', cursive; 
font-family: 'Alfa Slab One', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Rubik Glitch', cursive;*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: 0;
}

:root {
    --color-primary: white;
    --color-text: #161625;
    --color-secondary: #ff5f00;
    --transition: all 400ms ease;

    --container-width-ls: 75%;
    --container-width-md: 85%;
    --container-width-sm: 95%;
}

.dark-theme {
    --color-primary: #161625;
    --color-text: white;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Old Standard TT', serif;
    background-color: var(--color-primary);
    color: var(--color-text);
    background: var(--color-primary);
    opacity: .9;
    line-height: 1.5;
}

.container {
    width: var(--container-width-ls);
    margin: 0 auto;
}

section {
    margin-top: 1rem;
}

a {
    transition: var(--transition);
    color: var(--color-text);
}

h1 {
    color: var(--color-text);
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
    text-align: center;
}

.btn {
    cursor: pointer;
    width: max-content;
    transform: var(--transition);
    padding: 0.75rem 1.2rem;
    background-color: #007bff;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn:hover {
    background-color: var(--color-primary);
    border-color: transparent;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.blurleft {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: var(--color-secondary);
    z-index: -9;
    filter: blur(120px);
}

.blurright {
    position: absolute;
    width: 22rem;
    height: 14rem;
    right: 13rem;
    border-radius: 50%;
    background: var(--color-secondary);
    z-index: -9;
    filter: blur(120px);
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    .blurright {
        right: 14px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    .blurright {
        display: none;
    }
}